@keyframes titleTransition {
    from {
        opacity: 0;
        right: 350px;
    }
    to {
        opacity: .5;
        right: 0px;
    }
}

.icon {
    color: white;
    size: 25px;
}

.headerTitle {
    text-align: center;
    font-size: 70px;
    color: white;
    animation-name: titleTransition;
    animation-duration: 4s;
    position: relative;
}

.headerSubTitle {
    text-align: center;
    font-size: 30px;
    color: white;
}