.skillsComponent{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
}

.skillsList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    -webkit-padding-start: 0;

}

.skillsList > li {
    font-size: 25px;
    padding: 15px;
}