.contacComponent {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
}

.contactForm {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formComponent {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.formComponent > label {
    text-align: center;
}

.sendComponent {
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
}

.sendButton {
    height: 30px;
    width: 70px;
    border-radius: .1px;
    color: white;
    background: black;
    font-size: inherit;
}

.userInputs {
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: inherit;
    padding: 5px;
}

.userMessage {
    border-radius: 5px;
    border: .5px solid gray;
    font-size: inherit;
    padding: 5px;
}
