.aboutMeContainer {
    height: 100vh;
    background: orange;
    width: 100%;
}

.testPara {
    position: relative;
    text-align: center;
}

.mainDiv {
    height: 100vh;
    background: orange;
}