.aboutMeContainer {
    /* height: 100vh; */
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.aboutMeHeader {
    position: relative;
    text-align: center;
    padding-top: 50px
}

.mainDiv {
    height: 100vh;
}

.aboutMeParagraph {
    text-align: center;
    position: relative;
    text-align: left;
    font-size: 20px;
}

.chibiImage {
    width: 200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
}

/* For Iphone X */
/* Portrait */
@media screen 
  and (min-width: 500px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .container {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-bottom: 50px;
    }
}