@keyframes titleTransition {
    from {
        text-align: left;
    }
    to {
        text-align: center;
    }
}

.projectsContainer {
}

.projectContainerList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectTitle {
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}