.projectContainer {
    height: 500px;
}

.projectComponent {
    /* padding-left: 60px;
    padding-right: 60px; */
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.projectImage {
    width: 500px;
    height: 300px;
    /*border-radius: 50%;*/
    /* border: gray solid 1px; */
    object-fit: cover;
}

.projectTitle{
    text-align: center;
}

.projectList {
    list-style: none;
    display: flex;
    margin-left: 0;
    -webkit-padding-start: 0;
    flex-direction: row;
    justify-content: space-evenly;
}

.projectList > li {
    /* margin-left: 10px;
    margin-right: 10px; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.projectList > li > a {
    color: black;
    text-decoration: none;
}

.technoList {
    list-style: none;
}

.overlay {
    height: 0%;
    left: 0;
    right: 0;
    position: relative;
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    /* background-color: #008CBA; */
    background: white;
    bottom: 100%;
    transition: .5s ease;
    opacity: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.projectContainer:hover .overlay {
    height: 70%;
    opacity: 1;
}