@keyframes titleTransition {
    from {
        text-align: left;
    }
    to {
        text-align: center;
    }
}

.projectsContainer {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectContainerList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectTitle {
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}